# dependencies
node_modules/
**/node_modules/

# next.js
.next/
**/.next/
out/
**/out/

# production
build/

# env
.env
.env.local
.env.*.local
!.env.example

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
**/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
